__pycache__
__pycache__/Gemini.cpython-310.pyc
output/output_video.mp4
output/response_audio.wav
output/scores.json
output/output_video.mp4
output/response_audio.wav
output/scores.json
uploads/WIN_20250313_21_58_17_Pro.mp4
uploads/WIN_20250315_11_32_43_Pro.mp4
